/* COLORS */
/* See this for more color definitions:
 *   https://bulma.io/documentation/overview/colors/
 */


/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600,700,800,900|Poppins:400,500,600,700');

$brand-font: 'Poppins', sans-serif;
$font-stack: 'Fira Sans', 'Helvetica Neue', sans-serif;

body,
button,
input,
select,
textarea {
  font-family: $font-stack;
}
