// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home Page */

.home-section {
  margin-top: 40px;
}

.home-container {
  @extend .flex-center-row;
}

.sprints-container {
  @extend .flex-start-col;
  margin: 24px;
}

.sprint-card {
  margin-top: 24px;

  &--add {
    transition: 100ms;

    &:hover {
      transform: scale(1.01, 1.02);
      color: $white;
      border: 1px solid $turquoise;
      background-color: $turquoise;
      cursor: pointer;
      h1 {
        color: $white; 
      }
    }
  }
}
