// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sprint-card-border-radius: 5px;
$sprint-accent-color: $turquoise;

.sprint-card {
  margin-top: 24px;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: $sprint-card-border-radius;
  box-shadow: $box-shadow;

  &--add {
    transition: 100ms;

    &:hover {
      color: $sprint-accent-color;
      border: 1px solid $sprint-accent-color;
      box-shadow: 0 2px 3px rgba($sprint-accent-color, 0.1), 0 0 0 1px rgba($sprint-accent-color, 0.1);
      cursor: pointer;
      h1 {
        color: $sprint-accent-color;
      }
    }
  }
}

.sprint-text-box {
  padding: 1.25rem;
}

.sprint-resource-box {
  background-color: $white-ter;
  padding: 1.25rem;
  border-bottom-right-radius: $sprint-card-border-radius;
  border-bottom-left-radius: $sprint-card-border-radius;
}
