// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sprint-card-border-radius: 5px;
$sprint-accent-color: $turquoise;

.sprint-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 15px 0px;
}

.sprint-date-box {
  min-width: 80px;
  position: absolute;
  height: 100%;

  &:after {
    background: $grey-lighter;
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    width: 1px;
  }
  .sprint-date-cover {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: $white;
    z-index: 500;
  }

  .sprint-date-top-cover {
    @extend .sprint-date-cover;
    top: 0%;
  }

  .sprint-date-bottom-cover {
    @extend .sprint-date-cover;
    top: 50%;
  }
}

.sprint-date {
  min-width: 80px;
  margin-right: 5px;
  padding: 8px 0px;
  @extend .flex-center-col;
  background-color: $white;
  z-index: 1000;

  .start-month {
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .start-day {
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.sprint-card {
  background-color: $white;
  border: 1px solid transparent;
  border-radius: $sprint-card-border-radius;
  box-shadow: $box-shadow;

  &--add {
    transition: 100ms;

    &:hover {
      color: $sprint-accent-color;
      border: 1px solid $sprint-accent-color;
      box-shadow: 0 2px 3px rgba($sprint-accent-color, 0.1), 0 0 0 1px rgba($sprint-accent-color, 0.1);
      cursor: pointer;
      h1 {
        color: $sprint-accent-color;
      }
    }
  }
}

.sprint-title-box {
  padding: 1.25rem;
}

.sprint-main-box {
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.sprint-description-box {
  max-width: 50%;
  margin-right: 20px;
}

.sprint-objectives-box {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sprint-objective-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 0px;

  > i {
    font-size: 24px;
    color: $yellow;
  }

  > p {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
  }
}

.sprint-resource-box {
  background-color: $white-ter;
  padding: 1.25rem;
  border-bottom-right-radius: $sprint-card-border-radius;
  border-bottom-left-radius: $sprint-card-border-radius;
}
